/* Small to large phones */
@media screen and (max-width: 600px) {

}

/* Small to medium tablet */
@media screen and (max-width: 960px) {

}

/* Large laptop to laptop */
@media screen and (max-width: 1264px) {


}

/* Desktop */
@media screen and (max-width: 1904px) {
    .app-main-content .app-side-nav{
        -ms-grid-column-span: 12;
    }

}

/* 4K and ultra-wide */
@media screen and (max-width: 1904px) {
    .app-main-content .app-side-nav{
        -ms-grid-column-span: 12;
    }
}
