.primaryFont, p, h2, h1, body {
  font-family: 'Comfortaa', serif;
}

.secondaryFont{
    font-family: 'Poiret One', cursive;
}

.montFont{
    font-family: 'Montserrat', serif;
}

.buttons{
    text-transform: none;
}

.body{
    font-size: 12px;
}

a{
    color: #EA7125!important;
    text-decoration-line: none;
}

.table-data{
    border: 1px #E5E5E5 solid;
}

.table-data:last-child{
    border-left: none;
}
/*td{*/
/*    border-bottom: none !important;*/
/*}*/

tr{
    border-bottom: none!important;
}
