<template>
  <v-app>
    <AppHeader/>
    <v-container class="container">
      <v-row>
        <AppSideNav/>
        <v-col
            offset-lg="20" cols="8"
            class="pt-10">
          <v-card
              outlined
              height="700px"
              class="mx-auto my-12 rounded-xl">
            <Toolbar
            :page-title="pageTitle"/>
            <template>
              <v-data-table
                  :disable-sort="true"
                  class="pa-2"
                  :hide-default-footer="true"
                  :headers="headers"
                  :items="cart">
                <template v-slot:item.image="{item}">
                  <div class="p-2">
                    <v-img max-height="90"
                           max-width="90"
                           :src="require('../assets/products/' + item.image)">
                    </v-img>
                  </div>
                </template>
                <template v-slot:top>
                    <v-dialog v-model="deleteDialog" max-width="300px">
                      <v-card class="rounded-lg">
                        <v-card-title class="primaryFont font-weight-bold text-center">Delete cart item?</v-card-title>
                        <v-card-actions>
                          <v-spacer></v-spacer>
                          <v-btn color="primary lighten-1" text @click="closeDelete">Cancel</v-btn>
                          <v-btn color="primary" text @click="deleteItemConfirm">Confirm</v-btn>
                          <v-spacer></v-spacer>
                        </v-card-actions>
                      </v-card>
                    </v-dialog>
                </template>
                <template v-slot:item.actions="{ item }">
                  <v-icon
                      size="1.4vw"
                      color="primary"
                      @click="deleteCartItem(item)">
                    mdi-delete
                  </v-icon>
                  <v-icon
                      @click="changeFavouriteIcon(item)"
                      size="1.4vw"
                      color="primary">
                    {{ favouriteIcon }}
                  </v-icon>
                </template>
              </v-data-table>
            </template>
            <v-row>
              <v-spacer></v-spacer>
              <v-col
                  class="align-end ma-6 text-right primaryFont"
                  cols="2"><b>Total KES 54,000</b><br>
                <p class="disclaimer">Delivery fees not yet included</p>
              </v-col>
            </v-row>
            <v-row
                dense
                no-gutters
                class="ml-10 col-11 checkout-group rounded">
              <v-col cols="1">
                <router-link :to="{ name: 'products'}">
                  <v-btn
                      class="primaryFont continue-shopping-btn rounded-xl"
                      color="white">
                    Continue Shopping
                  </v-btn>
                </router-link>
              </v-col>
              <v-spacer></v-spacer>
              <v-col
                  class="align-start"
                  cols="2">
                <router-link :to="{ name: 'checkout'}">
                  <v-btn
                      color="primary"
                      class="rounded-xl">
                    Checkout<v-icon right>
                    mdi-arrow-right
                  </v-icon>
                  </v-btn>
                </router-link>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-app>
</template>

<script>
import AppHeader from "@/components/AppHeader";
import AppSideNav from "@/components/AppSideNav";
import Toolbar from "@/components/Toolbar";
export default {
  name: 'Cart',
  methods:{
    back(){
      alert("You clicked back")
    },
    /*
    * Initiates item delete process by calling delete dialog
    * */
    deleteCartItem(item){
      this.selectedItem = this.cart.indexOf(item)
      this.selectedItem = Object.assign({}, item)
      this.deleteDialog = true
    },
    /*Closes the delete cart item dialog box*/
    closeDelete(){
      this.deleteDialog = false
      this.$nextTick(() => {
        this.selectedItem = Object.assign({}, this.defaultItem)
        this.selectedItem = -1
      })
    },
    /*Deletes the selected item from cart */
    deleteItemConfirm () {
      this.cart.splice(this.selectedItem, 1)
      this.closeDelete()
    },
    changeFavouriteIcon(){
      if (this.favouriteIcon === 'mdi-heart-outline'){
        this.favouriteIcon = 'mdi-heart'
      }
      else {
        this.favouriteIcon = 'mdi-heart-outline'
      }
    },

  },
  components: {Toolbar, AppSideNav, AppHeader},
  data(){
    return{
      favouriteIcon: 'mdi-heart-outline',
      headers: [
        { text: 'Image', value: 'image' },
        { text: 'Product Name', value: 'title' },
        { text: 'Quantity', value: 'units' },
        { text: 'Price', value: 'price' },
        { text: 'Actions', value: 'actions', sortable: false },
      ],
      deleteDialog: false,
      selectedIndex: -1,
      cartTotal: 0,
      pageTitle: 'Cart',
      e6: 4,
      tableColumns:[
        'Product Image', 'Product Name', 'Quantity', 'Price', 'Total', 'Actions'
      ],
      cart: [{
        image: "google-home.jpg",
        title: "Google Home-[White Slate] JY-M",
        price: 12000,
        units: 2
      },
        {
          image: "pace-headphone.jpg",
          title: "Pace Live II Bluetooth Headphones",
          price: 3080,
          units: 1
        },
        {
          image: "home theatre.jpg",
          title: "Sony 300W DVD HOME THEATRE SYSTEM, 5.1CH DAV-TZ 140",
          price: 18000,
          units: 1
        },
      ],
      selectedItem: {
        image: '',
        title: '',
        price: 0,
        units: 0
      },
      defaultItem: {
        image: '',
        title: '',
        price: 0,
        units: 0
      },
    }
  },
  computed:{
    //ToDo: Add cartTotal logic
  },
  watch: {
    dialog (val) {
      val || this.close()
    },
    deleteDialog (val) {
      val || this.closeDelete()
    },
  },

}

</script>

<style scoped>
.continue-shopping-btn{
  text-decoration: #EA7125 !important;
}

.checkout-group{
  background-color: #E5E5E5;
}

.disclaimer{
  font-size: 11px;
  text-align: left;
}

</style>
