<template>
  <div class="body">
    <v-stepper v-model="e1"
        alt-labels
        flat
        class="mt-12">
      <v-stepper-header
      class="v-card--flat">
        <v-stepper-step
            class="primaryFont"
            :complete="e1 > 1"
            step="1">
          Location
        </v-stepper-step>
        <v-divider></v-divider>
        <v-stepper-step
            class="primaryFont"
            :complete="e1 > 2"
            step="2">
          Delivery Options
        </v-stepper-step>
        <v-divider></v-divider>
        <v-stepper-step
            class="primaryFont"
            step="3">
          Payment
        </v-stepper-step>
      </v-stepper-header>

      <!--Stepper Items begin here-->
      <v-stepper-items>
        <v-stepper-content step="1">
          <v-row>
            <v-col cols="2">
              <CheckoutOptions
              :saved-locations="savedLocations"/>
            </v-col>
            <v-col cols="10">
              <Map/>
            </v-col>
          </v-row>
          <AppFooter/>
        </v-stepper-content>
        <v-stepper-content step="2">
          <v-card
              class="inner-card"
              height="100px">
            <v-row>
              <v-col
                  class="pt-16"
                  cols="1">
                <v-avatar
                    @click="e1 = 1"
                    size="32">
                  <v-btn>
                    <v-icon
                        size="26"
                    >mdi-chevron-left</v-icon>
                  </v-btn>
                </v-avatar>
              </v-col>
              <v-col
                  class="pt-0"
                  cols="8">
                <v-row
                    justify="space-around"
                    no-gutters>
                  <v-col cols="5">
                    <v-dialog
                        class="primary"
                        ref="dateDialog"
                        :close-on-content-click="false"
                        :return-value.sync="deliveryDate"
                        max-width="290px">
                      <template v-slot:activator="{ on, attrs }">
                        <p>Additional Notes</p>
                        <v-textarea
                            prepend-inner-icon="mdi-note-plus"
                            placeholder="e.g. Call me when you get to Riverside"
                            outlined
                            dense>
                        </v-textarea>
                        <v-text-field
                            :value="deliveryDate"
                            v-model="deliveryDate"
                            v-bind="attrs"
                            readonly
                            v-on="on"
                            slot="activator"
                            prepend-inner-icon="mdi-calendar"
                            placeholder="Today"
                            outlined
                            dense></v-text-field>
                        <p>Delivery Date</p>
                      </template>
                      <v-date-picker
                          v-model="date"
                          no-title
                          scrollable>
                        <v-spacer></v-spacer>
                        <v-btn
                            text
                            color="primary"
                            @click="$refs.dateDialog.isActive = false">
                          Cancel
                        </v-btn>
                        <v-btn
                            color="primary"
                            @click="$refs.dateDialog.save(date)">
                          OK
                        </v-btn>
                      </v-date-picker>
                    </v-dialog>
                  </v-col>
                </v-row>
                <v-row
                    justify="space-around"
                    no-gutters>
                  <v-col cols="5">
                    <v-dialog
                        ref="timeDialog"
                        v-model="deliverTimeDialog"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        :return-value.sync="time"
                        width="290px">
                      <template v-slot:activator="{ on, attrs }">
                        <p>Delivery Time</p>
                        <v-text-field
                            :value="deliveryTime"
                            v-model="deliveryTime"
                            readonly
                            v-bind="attrs"
                            v-on="on"
                            slot="activator"
                            prepend-inner-icon="mdi-clock"
                            placeholder="Immediately"
                            outlined
                            dense></v-text-field>
                      </template>
                      <v-time-picker
                          v-model="deliveryTime"
                          full-width
                          @click:minute="$refs.timeDialog.save(time)">
                        <v-spacer></v-spacer>
                        <v-btn
                            text
                            color="primary"
                            @click="$refs.timeDialog.isActive = false">
                          Cancel
                        </v-btn>
                        <v-btn
                            color="primary"
                            @click="$refs.timeDialog.save(time)">
                          OK
                        </v-btn>
                      </v-time-picker>
                    </v-dialog>
                  </v-col>
                </v-row>
              </v-col>
              <v-col
                  class="pt-16"
                  cols="1">
                <v-avatar
                    @click="e1 = 3"
                    size="32">
                  <v-btn>
                    <v-icon
                        size="26"
                    >mdi-chevron-right</v-icon>
                  </v-btn>
                </v-avatar>
              </v-col>
            </v-row>
            <v-snackbar
                v-model="snackbar"
                bottom
                color="success"
                outlined
                :timeout="timeout">
              {{ message }}
              <template v-slot:action="{ attrs }">
                <v-btn
                    color="black"
                    text
                    v-bind="attrs"
                    @click="snackbar = false">
                  OK
                </v-btn>
              </template>
            </v-snackbar>
          </v-card>
        </v-stepper-content>
        <v-stepper-content step="3">
          <v-card
              class="mb-12"
              color="grey lighten-1"
              height="200px">
            <v-card>
                <v-toolbar
                    color="#EA7125"
                    dark
                    flat>
                  <template v-slot:extension>
                    <v-tabs
                        v-model="tabs"
                        centered>
                      <v-tab
                          v-for="payment in payments"
                          :key="payment">
                        {{ payment.type }}
                      </v-tab>
                    </v-tabs>
                  </template>
                </v-toolbar>
                <v-tabs-items
                    v-model="tabs">
                  <v-tab-item
                      class="align-content-center"
                      v-for="(payment, i) in payments"
                      :key="i">
                    <v-card
                        class="align-content-center rounded-lg ma-5 mx-auto"
                        flat>
                      <v-row class="payment-card" dense>
                        <v-col cols="3">
                          <v-card
                              :color="payment.color"
                              dark>
                            <v-row
                                class="ml-4 pt-2">
                              <v-col
                                  class="payment-provider"
                                  cols="3">
                                <v-avatar
                                    width="5vw"
                                    size="3vw"
                                    class="payment-provider">
                                  {{payment.provider}}
                                </v-avatar>
                              </v-col>
                              <v-col
                                  class="payment-detail"
                                  cols="6">
                                <v-avatar
                                    size="3vw"
                                    width="6vw"
                                    tile
                                    class="secondaryFont payment-account">
                                  {{payment.account}}
                                </v-avatar>
                              </v-col>
                              <v-col class="payment-logo" cols="3">
                                <v-avatar
                                    size="3vw">
                                  <v-img :src="require('../assets/payment_providers/' + payment.logo)"></v-img>
                                </v-avatar>
                              </v-col>
                            </v-row>
                          </v-card>
                        </v-col>
                      </v-row>
                    </v-card>
                  </v-tab-item>
                  <!--Card-->
                  <v-tab-item>
                    <v-card flat>
                      <v-card-text>
                        <p>
                          Card
                        </p>
                      </v-card-text>
                    </v-card>
                    <!--Promo-code-->
                  </v-tab-item>
                  <v-tab-item>
                    <v-card flat>
                      <v-card-text>
                        <p>
                          Promo-code
                        </p>
                      </v-card-text>
                    </v-card>
                  </v-tab-item>
                </v-tabs-items>
              </v-card>
          </v-card>
        </v-stepper-content>
      </v-stepper-items>
    </v-stepper>
  </div>
</template>

<script>
import '../styles/styles.css'
import Map from "@/components/Map";
import AppFooter from "@/components/AppFooter";
import CheckoutOptions from "@/components/CheckoutOptions";
export default {
  name: 'DeliveryOptions',
  components: {CheckoutOptions, AppFooter, Map},
  data () {
    return {
      payments: [
        {type: 'M-Pesa', provider: 'M-Pesa', account: '+254 794 375 045', logo: 'mpesa.png', color: 'rgb(42, 102, 55, 0.65)'},
        {type: 'Card', provider: 'Mastercard', account: '****6335', logo: 'mastercard.png', color: 'rgb(216, 170, 82, 0.5)'},
        {type: 'Promotion', provider: 'Promo Code', account: 'BIDADISCOUNT20', logo: 'promo.png', color: 'rgb(46, 49, 56, 0.68)'}],
      snackbar: false,
      timeout: 2000,
      message:'Payment being processed. Please wait!',
      e1: 3,
      deliveryDate: null,
      deliveryTime: null,
      tabs: null,
      savedLocations: [
        {
          action: 'mdi-home',
          title: 'Home',
        },
        {
          action: 'mdi-briefcase',
          title: 'Work',
        }
      ],
    }
  },
  methods:{
    next(){
      alert("You clicked next")
    }
  },mounted() {
    //Add map to a data object
    this.$refs.mapRef.$mapPromise.then(map => this.map = map)
  },
  computed: {
  }
}



</script>


<style scoped>
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

.inner-card{
  padding: 20%;
}

.primaryFont{
  text-decoration-color: #EA7125 !important;
}

.body{
  font-size: 12px
}
.payment-provider{
  font-size: 0.8vw;
}

.payment-account{
  font-size: 0.7vw;
}
</style>
