<template>
  <v-app>
    <AppHeader/>
    <v-container class="container">
      <v-row>
        <AppSideNav/>
        <v-col offset-lg="20" cols="8"
               class="pt-10">
          <v-card
              outlined
              height="500px"
              class="mx-auto my-12 rounded-xl"
          >
            <Toolbar/>
            <v-divider></v-divider>
            <v-row class="wallet-details">
              <v-col
                  v-for="(payment, index) in payments"
                  :key="index"
                  cols="5"
              >
                <v-card
                    class="mx-auto payment-cards"
                    max-width="344"
                    :color="payment.color"
                    outlined
                >
                  <v-list-item three-line>
                    <v-list-item-content>
                      <div class="text-overline mb-4">
                        {{payment.provider}}
                      </div>
                      <v-list-item-subtitle>{{ payment.account }}</v-list-item-subtitle>
                    </v-list-item-content>

                    <v-avatar
                        size="40"
                    >
                      <v-icon>{{payment.icon}}</v-icon>
                    </v-avatar>
                  </v-list-item>

                  <v-card-actions>
                    <v-btn
                        outlined
                        rounded
                        text
                    >
                      View
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-app>
</template>

<script>
import AppHeader from "@/components/AppHeader";
import AppSideNav from "@/components/AppSideNav";
import Toolbar from "@/components/Toolbar";
export default {
  name: 'Dashboard',
  components: {Toolbar, AppSideNav, AppHeader},
  data(){
    return{
      pageTitle: 'Bida Wallet',
      payments: [{provider: 'M-pesa', account: '+254 794 375 045', icon: 'mdi-wallet', color: '#2A6637'},
        {provider: 'Mastercard', account: '****6335', icon: 'mdi-credit-card-check', color: '#D8AA52'},
        {provider: 'Promo Code', account: 'BIDADISCOUNT20', icon: 'mdi-tag', color: '#2E3138'},
        {provider: 'Cash', account: 'Pay With Cash', icon: 'mdi-money', color: '#22CB47'}]
    }
  }
}

</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Comfortaa');


</style>
