<template>
  <v-app>
    <AppHeader/>
    <v-container class="container">
      <v-row>
        <AppSideNav/>
        <v-col cols="8">
          <v-card
              height="430"
              shaped
          >
            <Toolbar/>
            <v-divider></v-divider>
            <v-form class="user-details">
              <v-container>
                <v-row
                    align-sm="center"
                    align-lg="center">
                  <v-col
                      cols="6"
                      sm="8"
                      md="6"
                  >
                    <span>Name</span>
                    <v-text-field
                        label="Name"
                        placeholder="Name"
                        outlined
                        dense
                        prepend-inner-icon="mdi-account"
                    ></v-text-field>
                  </v-col>
                  <v-col
                      cols="6"
                      sm="8"
                      md="6"
                  >
                    <span>Email Address</span>
                    <v-text-field
                        label="Email Address"
                        placeholder="Email Address"
                        outlined
                        dense
                        prepend-inner-icon="mdi-at"
                    ></v-text-field>
                  </v-col>
                  <v-col
                      cols="6"
                      sm="8"
                      md="6"
                  >
                    <span>Phone Number</span>
                    <v-text-field
                        label="Phone Number"
                        placeholder="Phone Number"
                        outlined
                        dense
                        prepend-inner-icon="mdi-phone"
                    ></v-text-field>
                  </v-col>

                </v-row>
                <v-btn
                    color="#EA7125">
                  Save
                </v-btn>
              </v-container>
            </v-form>
          </v-card>
        </v-col>
      </v-row>
    </v-container>

  </v-app>
  <!--  <div>-->
  <!--    <div style="display: flex; align-items: center; justify-content: space-between">-->
  <!--      <h1>Your coordinates</h1>-->
  <!--      <p>{{myCoordinates.lat}} Latitude, {{ myCoordinates.lng}} Longitude</p>-->
  <!--    </div>-->

  <!--    <div style="display: flex; align-items: center; justify-content: space-between">-->
  <!--      <h1>Map coordinates</h1>-->
  <!--      <p>{{Coordinates.lat}} Latitude, {{ Coordinates.lng}} Longitude</p>-->
  <!--    </div>-->
  <!--      <GmapMap-->
  <!--        :center="{myCoordinates}"-->
  <!--        :zoom="7"-->
  <!--        style="width: 640px; height: 360px; margin: 32px auto;"-->
  <!--        ref="mapRef"-->
  <!--      >-->
  <!--      </GmapMap>-->
  <!--    </div>-->
</template>

<script>
import AppHeader from "@/components/AppHeader";
import AppSideNav from "@/components/AppSideNav";
import Toolbar from "@/components/Toolbar";
export default {
  components: {Toolbar, AppSideNav, AppHeader},
  data(){
    return{
      map: null,
      myCoordinates:{
        lat: 10,
        lng: 10
      },
      mapCoordinates:{
        lat: 0,
        lng: 0
      },
    }
  },
  created() {
    this.$getLocation({})
        .then(coordinates => {
          this.myCoordinates = coordinates;
        })
        .catch(error => alert(error))
  },
  mounted() {
    //Add map to a data object
    this.$refs.mapRef.$mapPromise.then(map => this.map = map)
  },
  computed: {
    Coordinates(){
      if(!this.map){
        return {
          lat: 0,
          lng: 0
        };
      }
      return {
        lat: this.map.getCenter().lat(),
        lng: this.map.getCenter().lng()
      }
    }
  }
}

</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
.side-nav{
  width: 50%;
}

.logout-btn{
  text-transform: none;
}

.user-details{
  margin-left: 10%;
}

</style>
