<template>
  <v-app>
    <AppHeader/>
    <v-container class="container">
      <v-row>
        <AppSideNav/>
        <v-col cols="8">
          <v-card
              height="430"
          shaped
          >
            <Toolbar
            :page-title="pageTitle"/>
            <v-divider></v-divider>
              <v-form class="user-details">
                <v-container>
                  <v-row
                  align-sm="center"
                  align-lg="center">
                    <v-col
                        cols="6"
                        sm="8"
                        md="6"
                    >
                      <span>Name</span>
                      <v-text-field
                          label="Name"
                          placeholder="Name"
                          outlined
                          dense
                          prepend-inner-icon="mdi-account"
                      ></v-text-field>
                    </v-col>
                    <v-col
                        cols="6"
                        sm="8"
                        md="6"
                    >
                      <span>Email Address</span>
                      <v-text-field
                          label="Email Address"
                          placeholder="Email Address"
                          outlined
                          dense
                          prepend-inner-icon="mdi-at"
                      ></v-text-field>
                    </v-col>
                    <v-col
                        cols="6"
                        sm="8"
                        md="6"
                    >
                      <span>Phone Number</span>
                      <v-text-field
                          label="Phone Number"
                          placeholder="Phone Number"
                          outlined
                          dense
                          prepend-inner-icon="mdi-phone"
                      ></v-text-field>
                    </v-col>

                  </v-row>
                  <v-btn
                  color="#EA7125">
                    Save
                  </v-btn>
                </v-container>
              </v-form>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-app>
</template>
<script>
import AppHeader from "@/components/AppHeader";
import AppSideNav from "@/components/AppSideNav";
import Toolbar from "@/components/Toolbar";
export default {
  components: {Toolbar, AppSideNav, AppHeader},
  data() {
    return{
      pageTitle: 'Edit Details'
    }
  }
}

</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
.side-nav{
  width: 50%;
}

.user-details{
  margin-left: 10%;
}

</style>
