<template>
  <div class="background">
    <WelcomeHeader />
    <v-spacer></v-spacer>
    <p class="tagline">At bida, the lowest bidder wins</p>
    <p class="description">Register today as a shopper or vendor
      and start your buying and selling streak with bida</p>
  </div>
</template>

<script>
  import WelcomeHeader from "../components/WelcomeHeader";

  export default {
    name: 'Home',
    components: { WelcomeHeader}
  }
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
.background{
  background: url("../assets/images/home-bg-transparent.png") repeat fixed !important;
  background-size: cover;
  height: 100vh;

}

.tagline{
  position: absolute;
  left: 2.64%;
  right: 50.21%;
  top: 16.7%;
  bottom: 71.56%;

  font-family: 'Comfortaa',serif;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 80px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
}

.tagline em{
  color: #EA7125;
}
.description{
  position: absolute;
  width: 1078px;
  height: 96px;
  left: 53px;
  top: 361px;

  font-family: 'Comfortaa',serif;
  font-style: normal;
  font-weight: 300;
  font-size: 43px;
  line-height: 48px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
}
</style>
