<template>
  <v-app>
    <AppHeader/>
    <v-container class="container">
      <v-row>
        <AppSideNav/>
        <v-col offset-lg="20" cols="8"
               class="pt-10 app-main-content">
          <v-card
              outlined
              height="500px"
              class="mx-auto my-12 rounded-xl">
            <Toolbar
            :page-title="pageTitle"/>
            <v-divider></v-divider>
            <EmptySlates
                :page-description="pageDescription"
                :page-heading="pageHeading"
                :page-image-name="pageImageName"
            />
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-app>
</template>

<script>
import AppHeader from "@/components/AppHeader";
import AppSideNav from "@/components/AppSideNav";
import EmptySlates from "@/components/EmptySlates";
import Toolbar from "@/components/Toolbar";
export default {
  name: 'Notifications',
  methods:{
    back(){
      alert("You clicked back")
    }
  },
  components: {Toolbar, AppSideNav, AppHeader, EmptySlates},
  data(){
    return{
      pageTitle: 'Notifications',
      pageHeading: 'There doesn\'t seem to be much here at the moment',
      pageDescription: 'If anything comes up, we\'ll let you know',
      pageImageName: 'notifications'
    }
  }
}

</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
.view-content{
  position: absolute;
  top: 30%;
  left: 40%;
  margin: -25px 0 0 -25px; /* apply negative top and left margins to truly center the element */

}

h2, p{
  font-family: 'Comfortaa', serif;
}
</style>
