<template>
  <v-app>
    <AppHeader/>
    <v-container class="container">
      <v-row>
        <AppSideNav/>
        <v-col offset-lg="20" cols="8"
               class="pt-10">
          <v-card
              outlined
              height="500px"
              class="mx-auto my-12 rounded-xl">
            <Toolbar
            :page-title="pageTitle"/>
            <v-divider></v-divider>
            <v-card
                flat
                class="mx-auto pl-10 my-12 col-12 pt-0"
                fluid>
              <template>
                <v-simple-table
                    class="pa-1"
                    light>
                  <tbody>
                  <tr
                      v-for="(detail, i) in orderDetails"
                      :key="i">
                    <td class="table-data flex-column col-1">
                      <v-img max-height="90"
                             max-width="90"
                             :src="require('../assets/products/' + detail.image)">
                      </v-img>
                    </td>
                    <td class="font-weight-bold text-left primaryFont table-data">
                      <h4 class="font-weight-bold">{{ detail.product }}</h4>
                      <h5>Order {{detail.orderNo}}</h5>
                      <v-chip
                          x-small
                          text-color="white"
                          class="rounded-sm font-weight-light text-capitalize"
                          :color="getStatusColor(detail.status)">
                        {{detail.status}}
                      </v-chip>
                      <h5
                          class="font-weight-bold">
                        {{detail.time}}</h5>
                    </td>
                  </tr>
                  </tbody>
                </v-simple-table>
              </template>
            </v-card>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-app>
</template>

<script>
import AppHeader from "@/components/AppHeader";
import AppSideNav from "@/components/AppSideNav";
import Toolbar from "@/components/Toolbar";
export default {
  name: 'Orders Details',
  methods:{
    back(){
      alert("You clicked back")
    },
    getStatusColor (status) {
      if (status ===  'Shipping') return '#EA7125'
      else if (status === 'Delivered') return 'green'
      else return 'red'
  },
  },
  components: {Toolbar, AppSideNav, AppHeader},
  data(){
    return{
      pageTitle: 'Order Details',
      e6: 4,
      orderDetails: [{
        orderNo: 4533,
        product: 'Sony 300W DVD HOME THEATRE SYSTEM, 5.1CH DAV-TZ 140',
        status: "Delivered",
        time: "23-06-2021",
        image: 'home theatre.jpg'
      },
        {
          orderNo: 4533,
          product: 'Google Home-[White Slate] JY-M',
          status: 'Shipping',
          time: "23-06-2021",
          image: 'google-home.jpg',
        },
        {
          orderNo: 4533,
          product: 'Pace Live II Bluetooth Headphones',
          status: "Cancelled",
          time: "23-06-2021",
          image: 'pace-headphone.jpg'
        },
      ],
    }
  }
}

</script>

<style scoped>

</style>
