<template>
  <v-app>
    <AppHeader/>
    <v-container class="container">
      <v-row>
        <AppSideNav/>
        <v-col offset-lg="20" cols="8"
               class="pt-10">
          <v-card
              outlined
              height="500px"
              class="mx-auto my-12 rounded-xl">
            <Toolbar/>
            <v-divider></v-divider>
            <v-card
                flat
                class="pa-4"
            fluid>
              <v-stepper
                  v-model="e6"
                  flat
                  vertical>
                <v-stepper-step
                    v-for="(history, index) in orderHistory"
                    :key="index"
                    :complete="e6 > 1"
                    :step="index">
                  {{history.status}}
                  <small>{{history.time}}</small>
                </v-stepper-step>
              </v-stepper>
            </v-card>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-app>
</template>

<script>
import AppHeader from "@/components/AppHeader";
import AppSideNav from "@/components/AppSideNav";
import Toolbar from "@/components/Toolbar";
export default {
  name: 'Orders History',
  methods:{
    back(){
      alert("You clicked back")
    },
  },
  components: {Toolbar, AppSideNav, AppHeader},
  data(){
    return{
      title: 'Order History',
      e6: 4,
      orderHistory: [{
        status: "Order Placed",
        time: "23-06-2021",
        Description: "Order was placed 5 hours ago"
      },
        {
          status: "Order Confirmed",
          time: "23-06-2021",
          Description: "Order was confirmed 3 hours ago"
        },
        {
          status: "Shipping",
          time: "23-06-2021",
          Description: "Your order is being shipped"
        },
        {
          status: "Delivered",
          time: null,
          Description: null
        }
      ],
    }
  }
}

</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
.view-content{
  position: absolute;
  top: 30%;
  left: 40%;
  margin: -25px 0 0 -25px; /* apply negative top and left margins to truly center the element */

}
</style>
