<template>
  <v-app>
    <AppHeader/>
    <v-container class="container">
      <v-row>
        <AppSideNav/>
        <v-col
            offset-lg="20" cols="8"
            class="pt-10">
          <v-card
              outlined
              height="500px"
              class="mx-auto my-12 rounded-xl">
            <Toolbar
            :page-title="pageTitle"/>
            <OrdersTable
            :orders="orders"
            :tab_items="tab_items"/>
            <EmptySlates
                v-if="(orders===null)"
                :pageHeading="pageHeading"
                :pageDescription="pageDescription"
                :pageImageName="pageImageName"/>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-app>
</template>

<script>
import AppHeader from "@/components/AppHeader";
import AppSideNav from "@/components/AppSideNav";
import EmptySlates from "@/components/EmptySlates";
import Toolbar from "@/components/Toolbar";
import OrdersTable from "@/components/OrdersTable";
export default {
  name: 'Orders',
  methods:{
    back(){
      alert("You clicked back")
    }
  },
  components: {OrdersTable, AppSideNav, AppHeader, EmptySlates, Toolbar},
  data(){
    return{
      pageTitle: 'Orders',
      pageHeading: 'You seem not to have ordered anything yet on Bida',
      pageDescription: 'Whenever you are ready, click here to start shopping',
      pageImageName: 'orders',
      orders: [
        {
          number: 3243,
          date: '02-05-2021',
          status: 'Completed'
        },
        {
          number: 3244,
          date: '27-06-2021',
          status: 'Shipping'
        },
        {
          number: 3245,
          date: '30-06-2021',
          status: 'Cancelled'
        },
      ],
      tab_items: [
        'Open', 'Closed',
      ],
    }
  }
}

</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

h2, p{
  font-family: 'Comfortaa', serif;
}

a{
  text-decoration-line: none;
  color: #EA7125;
}
</style>
