<template>
  <v-app>
    <AppHeader/>
    <v-container class="mx-auto">
      <v-card
          fluid
          flat
          max-width="500"
          class="mx-auto">
        <v-card
            flat
            max-width="250"
            class="mx-auto">
          <v-icon
              color="red"
              size="200"
          >mdi-close-circle</v-icon>
        </v-card>
        <h2 align="center">Payment Unsuccessful</h2>
        <p align="center">Unfortunately, we were unable to complete the
          payment due to insufficient funds in your account</p>
      </v-card>
    </v-container>
  </v-app>
</template>

<script>
import AppHeader from "@/components/AppHeader";
export default {
  name: 'PaymentFailed',
  components: {AppHeader}
}

</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
h2, p {
  font-family: 'Comfortaa', serif;
}

</style>
