<template>
  <v-app>
    <AppHeader
    :notifications-count="2"
    :cart-items-count="5"/>
    <v-container>
      <div>
        <v-breadcrumbs
            :items="items">
          <template v-slot:divider>
            <v-icon>mdi-chevron-right</v-icon>
          </template>
        </v-breadcrumbs>
      </div>
      <v-divider></v-divider>
      <v-row
          align="center"
          justify="center">
        <v-col cols="4">
          <v-card
              class="mx-auto my-12"
              max-width="360"
              height="700">
            <v-card-title>{{product.name}}</v-card-title>
            <v-card-text>
              <v-row
                  align="center"
                  class="mx-0">
                <v-rating
                    :value="4.5"
                    color="primary"
                    dense
                    half-increments
                    readonly
                    size="14"
                ></v-rating>

                <div class="grey--text ms-4">
                  {{ rating }} ({{product.ratingsCount}})
                </div>
              </v-row>
              <div class="my-4 text-subtitle-1">
                {{ product.price }}
              </div>
            </v-card-text>
            <v-card-actions>
              <v-expansion-panels>
                <v-expansion-panel>
                  <v-expansion-panel-header
                      color="grey lighten-4">
                    Product info
                  </v-expansion-panel-header>
                  <v-expansion-panel-content>
                    <span>{{product.description}}</span>
                  </v-expansion-panel-content>
                </v-expansion-panel>
                <v-expansion-panel>
                  <v-expansion-panel-header
                      color="grey lighten-4">
                    Details
                  </v-expansion-panel-header>
                  <v-expansion-panel-content class="pt-3">
                    <p><b>Colour:</b> {{product.details[0].colour}}</p>
                    <p><b>Weight:</b> {{product.details[0].weight}}</p>
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </v-expansion-panels>
            </v-card-actions>
          </v-card>
        </v-col>
        <v-divider
            light
        vertical>
        </v-divider>
        <v-col cols="5">
          <v-img
              :src="require('../assets/products/google-home.jpg')">
          </v-img>
          <ItemAlert
          :alert-colour="alert.colour"
          :alert-item="alert.item"
          :alert-message="alert.message"
          :alert-model="alert.model"/>
        </v-col>
        <v-divider
            class="mx-auto"
            vertical>
        </v-divider>
        <v-col
            class="ma-2"
            cols="2">
          <v-row>
            <div class="pa-0">
              <v-chip-group
                  active-class="primary--text"
                  column>
                <v-chip
                    v-for="(size, i) in productSizes"
                    :key="i">
                  {{ size }}
                </v-chip>
              </v-chip-group>
            </div>
          </v-row>
          <v-row>
            <v-btn
                v-if="inCart === false"
                @click="addToCart; alert.model=true; inCart = true"
                width="200"
                color="primary rounded-xl">
              <v-icon left>mdi-cart-plus</v-icon>
              Add to cart
            </v-btn>
            <router-link
                v-else
                :to="{ name: 'cart'}">
            <v-btn
                @click="addToCart; cartText='View cart'"
                width="200"
                color="primary rounded-xl">
              <v-icon left>mdi-cart-plus</v-icon>
              View cart
            </v-btn>
            </router-link>
          </v-row>
          <v-row>
            <v-btn
                v-if="inSavedProducts === false"
                small
                outlined
                width="200"
                color="primary rounded-xl">
              <v-icon left>mdi-heart-outline</v-icon>
              Add to saved products
            </v-btn>
            <router-link
                v-else
                :to="{ name: 'saved_products'}">
            <v-btn
                small
                outlined
                width="200"
                color="primary rounded-xl">
              <v-icon left>mdi-heart-outline</v-icon>
              View saved products
            </v-btn>
            </router-link>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </v-app>
</template>

<script>
import AppHeader from "@/components/AppHeader";
import ItemAlert from "@/components/ItemAlert";

export default {
  name: 'Product',
  methods:{
    back(){
      alert("You clicked back")
    },
    addToCart(){

    },
  },
  components: {ItemAlert, AppHeader},

  data() {
    return{
      inCart: false,
      inSavedProducts: true,
      chipSelection: null,
      productSizes:
          ['XS', 'S', 'M', 'L', 'XL'],
      items: [
        {
          text: 'Home',
          disabled: false,
          href: '/',
        },
        {
          text: 'Products',
          disabled: false,
          href: '/products',
        },
        {
          text: 'Google Home-[White Slate] JY-M',
          disabled: true,
        },
      ],
      rating: 4.1,
      product: {
        id: '3',
        name: 'Google Home-[White Slate] JY-M',
        imageUrl: '../assets/products/google-home.jpg',
        price: 'KES 12,000',
        description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias commodi dolores earum exercitationem natus necessitatibus neque, nisi nobis numquam odit omnis possimus quas quis repudiandae sequi similique velit voluptatem voluptates?',
        details: [
          {
            colour:'White',
            weight: '200g'
          }
        ],
        ratingsCount: 34
      },
      alert: { colour: 'green', message: 'added to cart', model: false, item: this.product }
    }
  },
  computed: {
    /*Returns current product name*/
    currentProductName(){
      return this.product.name
    },
  },

}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
.product-title{
  font-size: 12px;
}

</style>
