<template>
  <v-app>
    <AppHeader/>
    <v-container>
      <div>
        <v-breadcrumbs :items="items">
          <template v-slot:divider>
            <v-icon>mdi-chevron-right</v-icon>
          </template>
        </v-breadcrumbs>
      </div>
      <v-row
          align="center"
          justify="center">
        <v-col cols="2">
          <v-expansion-panels>
            <v-expansion-panel
                v-for="(item,i) in filterItems"
                :key="i"
            >
              <v-expansion-panel-header
              color="grey lighten-4">
                {{item.name}}
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-list-item
                    v-for="(child, i) in item.items"
                    :key="i"
                >
                  <template v-slot:default="{ active }">
                    <v-list-item-action
                    >
                      <v-checkbox
                          :input-value="active"
                          color="primary"
                      ></v-checkbox>
                    </v-list-item-action>

                    <v-list-item-content
                    >
                      <v-list-item-title>{{child}}</v-list-item-title>
                    </v-list-item-content>
                  </template>
                </v-list-item>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-col>
        <v-col cols="10">
          <v-row>
            <v-col
                v-for="n in 10"
                :key="n"
                class="d-flex child-flex"
                cols="2"
                lg="3">
              <v-card>
                <v-img
                    :src="`https://picsum.photos/500/300?image=${n * 5 + 10}`"
                    :lazy-src="`https://picsum.photos/10/6?image=${n * 5 + 10}`"
                    aspect-ratio="1"
                    class="grey lighten-2">
                  <template v-slot:placeholder>
                    <v-row
                        class="fill-height ma-0"
                        align="center"
                        justify="center"
                    >
                      <v-progress-circular
                          indeterminate
                          color="orange lighten-2"
                      ></v-progress-circular>
                    </v-row>
                  </template>
                </v-img>
                <v-card-title class="product-title">
                  Pace Live II Bluetooth Headphones
                </v-card-title>
                <v-card-subtitle>
                  KES 3,080
                </v-card-subtitle>
                <v-card-actions>
                  <span class="grey--text text--lighten-2 text-caption mr-2">
        ({{ rating }})
      </span>
                  <v-rating
                      v-model="rating"
                      background-color="white"
                      color="orange accent-4"
                      dense
                      half-increments
                      hover
                      readonly
                      size="18"
                  ></v-rating>
                  <v-spacer></v-spacer>
                  <v-tooltip
                      left
                  color="grey lighten-1">
                    <template v-slot:activator="{ on, attrs }">
                  <v-btn icon
                  v-bind="attrs"
                  v-on="on">
                    <v-icon
                        color="#EA7125"
                    >mdi-cart-outline</v-icon>
                  </v-btn>
                    </template>
                    <span>Add to Cart</span>
                  </v-tooltip>
                  <v-tooltip
                      left
                      color="grey lighten-1">
                    <template v-slot:activator="{ attrs, on }">
                      <v-item v-slot="{ active, toggle }">
                        <v-btn
                            icon
                            v-bind="attrs"
                            v-on="on"
                            @click="toggle">
                          <v-icon color="primary"
                          >{{ active ? 'mdi-heart' : 'mdi-heart-outline' }}</v-icon>
                        </v-btn>
                      </v-item>
                    </template>
                    <span>Add to Favourites</span>
                  </v-tooltip>
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </v-app>
</template>

<script>
import AppHeader from "@/components/AppHeader";
export default {
  name: 'Products',
  methods:{
    back(){
      alert("You clicked back")
    }
  },
  components: {AppHeader},
  data() {
    return{
      filterItems:
      [{name: 'Categories', items: ['Electronics', 'Food', 'Beauty']},
        {name: 'Vendor', items: ['']},
        {name: 'Price', items: ['']},
        {name: 'Popularity', items: ['']},
        {name: 'Ratings', items: ['4', '3', '2', '1']},
        {name: 'Vendor Score', items: ['']}],
      items: [
        {
          text: 'Home',
          disabled: false,
          href: 'breadcrumbs_dashboard',
        },
        {
          text: 'Products',
          disabled: true,
          href: 'breadcrumbs_link_1',
        },
      ],
      rating: 4.1
    }
  },

}

</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
.product-title{
  font-size: 12px;
}

</style>
