<template>
  <v-app>
    <AppHeader/>
    <v-container class="container">
      <v-row>
        <AppSideNav/>
        <v-col
            offset-lg="20" cols="8"
            class="pt-10"
        >
          <v-card
              outlined
              height="500px"
              class="mx-auto my-12 rounded-xl"
          >
            <Toolbar
            :page-title="pageTitle"/>
            <v-form class="location-details">
              <v-container>
                <v-row
                    align-sm="center"
                    align-lg="center">
                  <v-col
                      cols="6"
                      sm="8"
                      md="6"
                  >
                    <span>Home</span>
                    <v-text-field
                        placeholder="Makadara, unnamed Road"
                        outlined
                        dense
                        prepend-inner-icon="mdi-home"
                    ></v-text-field>
                  </v-col>
                  <v-col
                      cols="6"
                      sm="8"
                      md="6"
                  >
                    <span>Office</span>
                    <v-text-field
                        placeholder="Sendy Office, Marsabit Plaza 3rd Floor"
                        outlined
                        dense
                        prepend-inner-icon="mdi-briefcase"
                    ></v-text-field>
                  </v-col>
                </v-row>

                <div class="text-center">
                  <v-dialog
                      v-model="dialog.value"
                      width="500"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                          v-bind="attrs"
                          v-on="on"
                          color="#EA7125"
                          x-small
                          rounded
                          outlined><v-icon left>
                        mdi-plus
                      </v-icon>
                        Add Location
                      </v-btn>
                    </template>

                    <v-card>
                      <v-toolbar
                          color="grey lighten-1"
                          dark
                          class="text--black"
                      >{{dialog.title}}</v-toolbar>
                      <v-card-text>
                        <div class="align-center">
                          <v-text-field
                              label="Name"
                              placeholder="e.g. Parent's Home"
                              outlined
                              dense
                              prepend-inner-icon="mdi-domain"
                          ></v-text-field>

                          <v-text-field
                              label="Location"
                              placeholder="Location"
                              outlined
                              dense
                              prepend-inner-icon="mdi-map-marker"
                          ></v-text-field>
                        </div>
                      </v-card-text>
                      <v-card-actions class="justify-end">
                        <v-btn
                            text
                            @click="dialog.value = false"
                        >Close</v-btn>

                        <v-btn
                            color="#EA7125"
                            @click="dialog.value = false"
                        >Save</v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                </div>
                <v-btn
                    color="#EA7125"
                    rounded>
                  Update
                </v-btn>
              </v-container>
            </v-form>

          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-app>
</template>

<script>
import AppHeader from "@/components/AppHeader";
import AppSideNav from "@/components/AppSideNav";
import Toolbar from "@/components/Toolbar";
export default {
  name: 'Saved Locations',
  methods:{
    back(){
      alert("You clicked back")
    }
  },
  components: {Toolbar, AppSideNav, AppHeader},
  data(){
    return{
      pageTitle: 'Saved Locations',
      dialog: {
        title: 'Add Location',
        value: false}
    }
  }
}

</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
.view-content{
  position: absolute;
  top: 30%;
  left: 40%;
  margin: -25px 0 0 -25px; /* apply negative top and left margins to truly center the element */

}
</style>
