<template>
  <v-app>
    <AppHeader/>
    <v-container class="container">
      <v-row>
        <AppSideNav/>
        <v-col offset-lg="20" cols="8"
               class="pt-10">
          <v-card
              outlined
              height="500px"
              class="mx-auto my-12 rounded-xl"
          >
           <Toolbar
           :page-title="pageTitle"/>
            <EmptySlate
            :page-heading="pageHeading"
            :page-description="pageDescription"
            :page-image-name="pageImageName"/>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-app>
</template>

<script>
import AppHeader from "@/components/AppHeader";
import AppSideNav from "@/components/AppSideNav";
import EmptySlate from "@/components/EmptySlates";
import Toolbar from "@/components/Toolbar";
export default {
  name: 'Saved Products',
  methods:{
    back(){
      alert("You clicked back")
    }
  },
  components: {Toolbar, EmptySlate, AppSideNav, AppHeader},
  data(){
    return{
      pageTitle: 'Saved Products',
      pageHeading: 'Your saved products will appear here',
      pageDescription: 'Whenever you find a product you like, you can save it for future by liking it',
      pageImageName: 'favourites'
    }
  }
}

</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
.view-content{
  position: absolute;
  top: 30%;
  left: 40%;
  margin: -25px 0 0 -25px; /* apply negative top and left margins to truly center the element */

}
</style>
