<template>
  <v-row class="mb-6" no-gutters>
    <v-col>
      <v-card height="100%" class="pa-2 image-bg"
              outlined
              tile><v-img class="logo" src="../assets/images/bida-logo-black.png"></v-img>
        <p class="bida-tagline">where the lowest bidder wins</p>
      </v-card>
    </v-col>

    <v-col>
      <v-card
          class="pa-2"
          outlined
          tile><p class="cta">Login to Bida</p>
        <p class="login-cta">New to Bida?<router-link :to="{ name: 'sign_up'}"><a class="pl-2">Sign up</a></router-link></p>
        <div class="form">
          <span class="primaryFont">E-mail</span>
          <v-text-field
              append-icon="mdi-at"
              placeholder="example@mail.com"
              outlined
              dense
          ></v-text-field>
          <span class="primaryFont">Password</span>
          <v-text-field
              v-model="password"
              :append-icon="visible ? 'mdi-eye' : 'mdi-eye-off'"
              :rules="[rules.required, rules.min]"
              :type="visible ? 'text' : 'password'"
              name="input-10-1"
              placeholder="Password"
              hint=""
              counter
              @click:append="visible = !visible"
              outlined
              dense
          ></v-text-field>

          <v-btn class="ma-2 btns create-account"
                 :loading="loading"
                 :disabled="loading"
                 @click="loader = 'loading'">
            Sign In
          </v-btn>

          <v-btn class="ma-2 btns signup-with-google"
                 :loading="loading"
                 :disabled="loading"
                 @click="loader = 'loading'">
            <v-icon left>
              mdi-google
            </v-icon>Sign In With Google
          </v-btn>


        </div>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'SignIn',
  data () {
    return {
      visible: false,
      password: '',
      rules: {
        required: value => !!value || 'Password Required',
        min: v => v.length >= 8 || 'Password must have at least 8 characters',
        emailMatch: () => (`The email and password you entered don't match`),
      },
    }
  },
  watch: {
    loader () {
      const l = this.loader
      this[l] = !this[l]

      setTimeout(() => (this[l] = false), 3000)

      this.loader = null
    },
  },
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
.image-bg{
  background: url("../assets/images/shopper.png") no-repeat fixed !important;
  background-size: cover;
  height: 100vh;

}

.mb-6{
  height: 100%;
}

.logo{
  position: absolute;
  width: 169px;
  height: 135px;
  left: 13px;
  top: 0px;
}

.bida-tagline{
  position: absolute;
  width: 348px;
  height: 27px;
  left: 34px;
  top: 122px;

  font-family: 'Comfortaa',serif
;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 27px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
}

.cta{
  position: absolute;
  width: 498px;
  height: 53px;
  left: 300px;
  top: 242px;

  font-family: 'Comfortaa',serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;

}

.login-cta{
  position: absolute;
  width: 316px;
  height: 27px;
  left: 300px;
  top: 306px;

  font-family: 'Comfortaa', serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 27px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;

}

.form{
  position: absolute;
  width: 510px;
  height: 243px;
  left: 300px;
  top: 463px;
}

.create-account{
  font-family: 'Comfortaa', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 27px;
  /* identical to box height */
  background: #EA7125 !important;
  color: #FFFFFF;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
}

.btns{
  text-transform: none;
}
</style>
