<template>
  <div>
    <AppHeaderAlt/>
    <v-row>
      <v-col cols="4">
        <TrackOrderDetails
            :eta="eta"
            :progress="progress"
            :delivery-details="deliveryDetails"
            :order-summary="orderSummary"
            class="track-order-details"/>
      </v-col>
      <v-col cols="8">
        <Map/>
      </v-col>
    </v-row>
    <AppFooter/>
  </div>
</template>
<script>
import AppFooter from "@/components/AppFooter";
// import Map from "@/components/Map";
import AppHeaderAlt from "@/components/AppHeaderAlt";
import Map from "@/components/Map";
import TrackOrderDetails from "@/components/TrackOrderDetails";

export default {
  components: {TrackOrderDetails, Map, AppHeaderAlt, AppFooter},
  data(){
    return{
      progress: 67,
      eta: '10:15 AM',
      orderSummary: [{
        product: 'Sony 300W DVD HOME THEATRE SYSTEM, 5.1CH DAV-TZ 140',
        image: 'home theatre.jpg',
        units: 1,
      },
        {
          product: 'Google Home-[White Slate] JY-M',
          image: 'google-home.jpg',
          units: 2,
        },
        {
          product: 'Pace Live II Bluetooth Headphones',
          image: 'pace-headphone.jpg',
          units: 1
        },
      ],
      deliveryDetails:
          {
            store: 'General Stores',
            orderTime: '9:35 AM',
            deliveryLocation: 'Sendy Office, Marsabit Plaza 3rd Floor ',
            deliveryLocationLabel: 'Work',
            estimatedDeliveryTime: '10:17 AM'
          },
    }
  }
}
</script>

<style scoped>

</style>
