<template>
  <v-app>
    <AppHeader/>
    <v-container class="container">
      <v-row>
        <AppSideNav/>
        <v-col offset-lg="20" cols="8"
               class="pt-10">
          <v-card
              outlined
              height="500px"
              class="mx-auto my-12 rounded-xl"
          >
            <Toolbar
            :page-title="pageTitle"/>
            <v-divider></v-divider>
            <v-row>
              <v-col cols="9">
                <v-col
                    cols="8"
                    align-sm="center"
                    align-lg="center"
                    class="wallet-details">
                  <v-row>
                    <v-col cols="5">
                      <span>Card Number</span>
                      <v-text-field
                          id="card-number"
                          dense
                          disabled>
                      </v-text-field>
                    </v-col>
                  </v-row>

                  <v-row>
              <span>
                <span>Expiry Date</span>
                <v-text-field
                    id="expiry-date"
                    dense
                    disabled>
                </v-text-field>
                <span>Country</span>
                <v-text-field
                    id="country"
                    dense
                    disabled>
                </v-text-field>
              </span>
                  </v-row>
                </v-col>
              </v-col>
              <v-col cols="3">
                <v-avatar>
                  <v-img
                      max-height="39"
                      max-width="53"
                      src="../assets/payment_providers/mastercard.png" ></v-img>
                </v-avatar>
              </v-col>
            </v-row>
            <v-divider></v-divider>
            <v-row
            align="center"
            justify="center"
            class="pt-12">
              <v-btn
                  color="red"
                  x-small
                  rounded
                  outlined><v-icon left>
                mdi-close
              </v-icon>
                Remove payment method
              </v-btn>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-app>
</template>

<script>
import AppHeader from "@/components/AppHeader";
import AppSideNav from "@/components/AppSideNav";
import Toolbar from "@/components/Toolbar";
export default {
  name: 'Wallet',
  methods:{
    back(){
    alert("You clicked back")
    }
  },
  components: {Toolbar, AppSideNav, AppHeader},
  data(){
    return{
      pageTitle: 'Mastercard',
      payments: [{provider: 'M-pesa', account: '+254 794 375 045', icon: 'mdi-wallet', color: '#2A6637'},
        {provider: 'Mastercard', account: '****6335', icon: 'mdi-credit-card-check', color: '#D8AA52'},
        {provider: 'Promo Code', account: 'BIDADISCOUNT20', icon: 'mdi-tag', color: '#2E3138'},
        {provider: 'Cash', account: 'Pay With Cash', icon: 'mdi-money', color: '#22CB47'}]
    }
  }
}

</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
.side-nav{
  width: 50%;
}

.logout-btn{
  text-transform: none;
}

.user-details{
  margin-left: 10%;
}

.wallet-details{
  margin: 5%;
}

.payment-cards{
}

</style>
