<template>
  <v-app>
    <AppHeader/>
    <v-container class="container">
      <v-row>
        <AppSideNav/>
        <v-col offset-lg="20" cols="8"
               class="pt-10">
          <v-card
              outlined
              height="500px"
              class="mx-auto my-12 rounded-xl"
          >
            <Toolbar/>
            <v-divider></v-divider>
            <EmptySlates
                :pageHeading="pageHeading"
                :pageDescription="pageDescription"
                :pageImageName="pageImageName"/>
            <v-row
            align="center"
            justify="center">
              <v-btn
                  color="primary"
                  x-small
                  rounded
                  outlined><v-icon left>
                mdi-plus
              </v-icon>
                Add Payment Method
              </v-btn>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-app>
</template>

<script>
import AppHeader from "@/components/AppHeader";
import AppSideNav from "@/components/AppSideNav";
import EmptySlates from "@/components/EmptySlates";
import Toolbar from "@/components/Toolbar";
export default {
  name: 'Empty Wallet',
  methods:{
    back(){
    alert("You clicked back")
    }
  },
  components: {Toolbar, AppSideNav, AppHeader, EmptySlates},
  data(){
    return {
    pageTitle: "Bida Wallet",
    pageHeading: 'You’re yet to add any payment method',
    pageDescription: 'You can add payment methods by clicking on the button below',
    pageImageName: 'wallet'
    }
  }
}

</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
h2, p{
  font-family: 'Comfortaa', serif;
}

</style>
