<template>
  <v-app>
    <AppHeader/>
    <v-container class="container">
      <v-row>
        <AppSideNav/>
        <v-col offset-lg="20" cols="8"
               class="pt-10">
          <v-card
              outlined
              height="500px"
              class="mx-auto my-12 rounded-xl"
          >
          <Toolbar
          :page-title="pageTitle"/>
            <v-divider></v-divider>
            <v-row class="pa-6">
              <v-col
                  class="mx-auto"
                  v-for="(payment, index) in payments"
                  :key="index"
                  cols="3">
                <v-card
                    class="ml-5 mr-0 payment-cards rounded-xl pl-2"
                    max-width="250"
                    min-height="150"
                    :color="payment.color"
                    flat
                    hover>
                  <v-list-item>
                    <v-list-item-content>
                      <v-list-item-title class="mb-4 primaryFont">
                        {{payment.provider}}
                      </v-list-item-title>
                      <v-list-item-subtitle class="secondaryFont">{{ payment.account }}</v-list-item-subtitle>
                    </v-list-item-content>
                    <v-avatar
                        size="30">
                      <v-img :src="require('../assets/payment_providers/' + payment.logo)"></v-img>
                    </v-avatar>
                  </v-list-item>
                </v-card>
              </v-col>
            </v-row>
            <v-divider></v-divider>
            <v-row
                align="center"
                justify="center"
                class="pt-8">
              <v-btn
                  color="primary"
                  x-small
                  rounded
                  outlined><v-icon left>
                mdi-plus
              </v-icon>
                Add Payment Method
              </v-btn>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-app>
</template>

<script>
import AppHeader from "@/components/AppHeader";
import AppSideNav from "@/components/AppSideNav";
import Toolbar from "@/components/Toolbar";
import '../styles/styles.css'
export default {
  name: 'Wallets',
  components: {Toolbar, AppSideNav, AppHeader},
  data(){
    return{
      pageTitle: 'Bida Wallet',
      payments: [
        {provider: 'Mastercard', account: '****6335', logo: 'mastercard.png', color: 'rgb(216, 170, 82, 0.5)'},
        {provider: 'M-pesa', account: '+254 794 375 045', logo: 'mpesa.png', color: 'rgb(42, 102, 55, 0.65)'},
        {provider: 'Promo Code', account: 'BIDADISCOUNT20', logo: 'promo.png', color: 'rgb(46, 49, 56, 0.68)'},
        {provider: 'Cash', account: 'Pay With Cash', logo: 'cash.svg', color: 'rgb(34, 203, 71, 0.65)'}]
    }
  }
}

</script>

<style scoped>
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

.primaryFont, .secondaryFont{
  color: #FFFFFF;
}


</style>
