<template>
  <v-col offset-lg="20" cols="8"
         class="pt-10">
    <v-card
        outlined
        height="500px"
        class="mx-auto my-12 rounded-xl"
    >
      <Toolbar/>
      <EmptySlate/>
    </v-card>
  </v-col>
</template>

<script>
import Toolbar from "@/components/Toolbar";
import EmptySlate from "@/components/EmptySlates";
export default {
  components: {EmptySlate, Toolbar}
}
</script>

<style>

</style>
