<template>
  <v-footer
      max-height="60px"
      color="#C4C4C4">
    <v-row
    no-gutters>
      <v-col cols="2">
        <v-container
            fluid
            size="70px">
          <span class="primaryFont">© Bida {{new Date().getFullYear()}}</span>
        </v-container>
      </v-col>
      <v-spacer></v-spacer>
      <v-col
          class="pt-0"
          align="center"
          cols="1">
        <v-avatar
            size="70px"
            class="rounded-0">
          <v-img src="../assets/images/bida-logo-white.png"></v-img>
        </v-avatar>
      </v-col>
    </v-row>
  </v-footer>
</template>

<script>
export default {
  name: 'AppFooter'
}

</script>

<style scoped>

.primaryFont{
  font-size: 12px;
  color: white;
  font-weight: lighter!important;
}
</style>
