<template>
  <v-app-bar app
             flat
             class="bar">
    <v-row
        align="center"
        justify="end">
      <v-col class="col-xl-1 col-lg-1 col-md-3 col-sm-5 col-xs-1">
        <v-avatar
            size="120">
          <img src="../assets/images/bida-logo-black.png" alt="bida-logo">
        </v-avatar>
      </v-col>
      <v-spacer></v-spacer>
      <v-col class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-6">
        <v-btn icon>
          <v-badge
              color="#EA7125"
              :content="notificationsCount"
              overlap
              bordered
          ><router-link :to="{ name: 'notifications'}">
            <v-icon
                color="#EA7125"
                class="mr-1">
              mdi-bell-outline
            </v-icon>
          </router-link>
          </v-badge>
        </v-btn>
        <v-btn icon>
          <v-badge
              color="#EA7125"
              :content="cartItemsCount"
              overlap
              bordered
          ><router-link :to="{ name: 'cart'}">
            <v-icon
                color="#EA7125"
                class="mr-1">
              mdi-cart-outline
            </v-icon>
          </router-link>
          </v-badge>
        </v-btn>
        <v-btn icon>
          <router-link :to="{ name: 'saved_products'}">
          <v-icon class="mr-1"
                  color="#EA7125">
            mdi-heart-outline
          </v-icon>
          </router-link>
        </v-btn>
        <v-btn icon>
          <v-avatar
              color="warning"
              size="40">
            <img
                alt="Avatar"
                src="../assets/images/bida-user.jpeg">
          </v-avatar>
        </v-btn>
        <v-menu
            open-on-hover
            bottom
            offset-y>
          <template v-slot:activator="{ on, attrs }">
            <v-btn icon
                   v-bind="attrs"
                   v-on="on">
              <v-icon>mdi-chevron-down</v-icon>
            </v-btn>
          </template>

          <v-list>
            <v-list-item-group>
              <router-link
                  v-for="(item, index) in profileMenuItems"
                  :key="index"
                  :to="{ name: item.path}">
              <v-list-item>
                <v-list-item-icon>
                  <v-icon v-text="item.icon"></v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title v-text="item.title"></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              </router-link>
            </v-list-item-group>
            <v-divider></v-divider>
            <v-col
                align="center"
                justify="center">
              <v-btn class="logout-btn"
                     color="#ea7125">
                Log out
              </v-btn>
            </v-col>
          </v-list>
        </v-menu>
      </v-col>
    </v-row>
  </v-app-bar>
</template>

<script>
export default {
  name: 'AppHeader',
  data(){
    return{
      notificationsCount: 1,
      cartItemsCount: 3,
      profileMenuItems: [
        {title: 'Account', icon: 'mdi-account', path: 'account_details'},
        {title: 'Notifications', icon: 'mdi-bell', path: 'notifications'},
        {title: 'Orders', icon: 'mdi-shopping', path: 'orders'},
        {title: 'Saved Products', icon: 'mdi-heart', path: 'saved_products'}
      ]
    }
  },
}
</script>

<style>

</style>
