<template>
    <v-col
        offset-lg="20" cols="4"
        class="pt-10 app-side-nav">
      <v-card
          min-height="500"
          width="350"
          outlined
          class="mx-auto my-12 rounded-xl">
        <v-list
        class="pa-0">
          <v-list-group
              v-for="item in groupItems"
              :key="item.title"
              v-model="item.active"
              :prepend-icon="item.action"
              no-action>
            <template v-slot:activator>
              <v-list-item-content
                  class="mx-auto rounded-xl">
                <v-list-item-title class="list-item-text" v-text="item.title"></v-list-item-title>
              </v-list-item-content>
            </template>
            <v-list-item-group
            color="primary">
              <router-link
                  v-for="(child, i) in item.items"
                  :key="i"
                  :to="{ name: child.path}">
              <v-list-item
              >
                <v-list-item-icon>
                  <v-icon
                      v-text="child.action"></v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title class="list-sub-item-text" v-text="child.title"></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              </router-link>
            </v-list-item-group>
          </v-list-group>
          <v-list-item-group
              color="primary">
            <router-link
              active-class="primary"
              v-for="(item, i) in items"
              :key="i"
              :to="{ name: item.path}">
            <v-list-item>
              <v-list-item-icon>
                <v-icon
                    size="30"
                    v-text="item.action"></v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title class="list-item-text" v-text="item.title"></v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </router-link>
          </v-list-item-group>
        </v-list>
        <v-divider
        class="pt-12"></v-divider>
        <v-card-actions
        class="pt-12">
          <v-row
              align="center"
              justify="center"
              class="pt-12">
            <v-btn
                color="primary"
                text>
              Log out
            </v-btn>
          </v-row>
        </v-card-actions>
      </v-card>
    </v-col>
</template>

<script>

export default {
  name: 'AppSideNav',
  data(){
    return{
      groupItems:[{
        action: 'mdi-account',
        items: [{ action: 'mdi-eye', title: 'Change Password' , path: 'change_password' },
          { action: 'mdi-star', title: 'Saved Locations',  path: 'saved_locations'},
          { action: 'mdi-wallet', title: 'Wallet', path: 'wallet'  }],
        title: 'Account Details',
      }],
      items: [
        {
          action: 'mdi-view-dashboard',
          title: 'Dashboard',
          path: 'dashboard'
        },
        {
          action: 'mdi-bell',
          title: 'Notifications',
          path: 'notifications'
        },
        {
          action: 'mdi-shopping',
          title: 'Orders',
          path: 'orders'
        },
        {
          action: 'mdi-heart',
          title: 'Saved Products',
          path: 'saved_products'
        }
      ],
    }
  },
  methods:{
  },
}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

.list-item-text, .list-sub-item-text{
  font-family: 'Comfortaa', serif;
}

.list-sub-item-text{
  font-size: 0.8vw;
}

.list-sub-item-text{
  font-size: 0.7vw;
}
</style>
