<template>
  <v-card
      flat
      height="720px"
      class="rounded-lg">
    <v-toolbar
        height="260"
        prominent
        elevation="10"
        class="rounded-l ma-4"
        floating>
      <v-col cols="12">
        <v-row class="pa-2">
          <v-icon
              color="#EA7125"
          >mdi-circle-medium</v-icon>
          <v-text-field
              hide-details
              outlined
              placeholder="Enter Delivery Location"
              dense
              color="primary"
          ></v-text-field>
        </v-row>
        <v-row>
          <v-list class="pa-2">
            <v-list-item-group
                v-model="selectedLocation"
                color="primary">
              <v-list-item
                  v-for="(location, i) in savedLocations"
                  :key="i">
                <v-list-item-icon>
                  <v-icon v-text="location.action" color="#EA7125"></v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title v-text="location.title"></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </v-row>
        <v-row class="pa-3">
          <v-divider></v-divider>
        </v-row>
        <v-row class="mx-15">
          <v-btn
              color="#EA7125"
              rounded
              small
              @click="e1 = 2">
            Confirm
          </v-btn>
        </v-row>
      </v-col>
    </v-toolbar>
  </v-card>
</template>

<script>
export default {
  name: 'CheckoutOptions',
  props:['savedLocations'],
  data(){
    return{
      selectedLocation: null,
    }
  }
}

</script>

<style>

</style>
