<template>
  <v-card
      fluid
      flat
      max-width="500"
      class="mx-auto pa-10">
    <v-card
        flat
        max-width="250"
        class="mx-auto">
      <v-img
          max-height="150"
          max-width="250"
          :src="require('../assets/empty_slates/' + pageImageName + '.svg')">
      </v-img>
    </v-card>
    <h2 class="pageHeading">{{ pageHeading }}</h2>
    <p class="pageDescription">{{ pageDescription }}</p>
  </v-card>
</template>

<script>
export default {
  name: 'EmptySlate',
  data(){
    return{
    }
  },
  props:[
      'pageHeading',
      'pageDescription',
      'pageImageName'
  ]
}
</script>

<style scoped>
.pageDescription, .pageHeading{
  text-align: center;
}

.pageHeading{
  font-size: 1.3vw;
}

.pageDescription{
  font-size: 0.9vw;
}

</style>


