<template>
  <v-alert
      v-model="alertModel"
      dismissible
      width="mx-auto"
      :color="alertColor"
      border="left"
      elevation="1"
      class="text-center mx-auto"
      colored-border>
    {{alertMessage}}
  </v-alert>
</template>

<script>
export default  {
  name: 'Alert',
  props: ['alertModel', 'alertMessage', 'alertColor']

}
</script>

<style>

</style>
