<template>
  <v-alert
      v-model="alertModel"
      dismissible
      width="mx-auto"
      height="mx-auto"
      :color="alertColour"
      border="left"
      elevation="1"
      class="text-center"
      colored-border>
    <strong>{{alertItem}}</strong> {{alertMessage}}
  </v-alert>
</template>

<script>
export default  {
  name: 'ItemAlert',
  props: ['alertItem', 'alertMessage', 'alertModel', 'alertColour']

}
</script>

<style>

</style>
