<template>
  <GmapMap
      :options="{
         zoomControl: false,
         mapTypeControl: false,
         scaleControl: false,
         streetViewControl: false,
         rotateControl: false,
         fullscreenControl: true,
         disableDefaultUi: true
       }"
      :center="{lat: -1.1967599, lng: 36.7622163}"
      :zoom="13"
      map-type-id="roadmap"
      class="googleMap">
    <v-toolbar
        floating>
      <v-text-field
          hide-details
          prepend-icon="mdi-magnify"
          single-line
      ></v-text-field>
      <v-btn icon>
        <v-icon>mdi-crosshairs-gps</v-icon>
      </v-btn>
      <v-btn icon>
        <v-icon>mdi-dots-vertical</v-icon>
      </v-btn>
    </v-toolbar>
  </GmapMap>
</template>

<script>
export default {
  name: 'Map',
  // props:['lat', 'lng']
}
</script>

<style>
.googleMap{
  width: inherit;
  height: 720px;
  margin: 0 auto;
}
</style>
