<template>
  <v-list three-line>
    <template>
      <v-card
          flat
          class="pl-xl-8 pl-lg-7 pl-md-5 pl-sm-2">
        <v-toolbar
            color="white accent-4"
            dense
            flat>
          <v-spacer></v-spacer>
          <template v-slot:extension>
            <v-tabs
                v-model="currentItem"
                color="primary"
                light
                slider-color="primary">
              <v-tab
                  v-for="item in tab_items"
                  :key="item"
                  :href="'#tab-' + item">
                {{ item }}
              </v-tab>
            </v-tabs>
          </template>
        </v-toolbar>

        <v-tabs-items v-model="currentItem">
          <v-tab-item
              v-for="item in tab_items"
              :key="item"
              :value="'tab-' + item">
            <template >
              <v-data-table
                  disable-sort
                  disable-filtering
                  hide-default-footer
                  :headers="headers"
                  :items="orders">
                <template v-slot:item.action="{item}">
                  <v-chip
                      x-small
                      text-color="white"
                      class="rounded-sm font-weight-light text-capitalize"
                      :color="getStatusColor(item.status)">
                    {{detail.status}}
                  </v-chip>
                </template>
              </v-data-table>
            </template>
          </v-tab-item>
        </v-tabs-items>
      </v-card>
    </template>
  </v-list>
</template>

<script>
export default {
  name: 'OrdersTable',
  data(){
    return{
      currentItem: 'tab-Web',
      headers: [
        {
          text: 'Order No',
          value: 'number'
        },
        {
          text: 'Date',
          value: 'date'
        },
        {
          text: 'Status',
          value: 'status'
        }
      ],
    }
    },
  props:['orders', 'tab_items'],
  methods:{
    getStatusColor (status) {
      if (status ===  'Shipping') return '#EA7125'
      else if (status === 'Delivered') return 'green'
      else return 'red'
    },
  }
}

</script>

<style>

</style>
