<template>
  <v-card
  flat>
    <v-toolbar
        flat
    ><v-icon
        large
        color="black"
        @click="back">
      mdi-chevron-left</v-icon>
      <v-card-title
        class="customFont"
        v-text="pageTitle">
    </v-card-title>
    </v-toolbar>
    <v-divider></v-divider>
  </v-card>
</template>

<script>
import router from "@/router";

export default {
  name: 'Toolbar',
  props:[
      'pageTitle'
  ],
  methods: {
    back(){
      router.go(-1)
    }
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
.customFont{
  font-family: 'Comfortaa', serif;
  font-weight: 700;
  color: black;
}
</style>
