<template>
  <v-card
      flat
      height="720px"
      class="rounded-lg">
    <v-card
        flat
        class="ml-5 mt-5 pa-5">
      <v-row>
        <v-col cols="2"
        class="col-sm-6 col-md-6">
          <p class="eta montFont">{{eta}}</p>
        </v-col>
        <v-spacer></v-spacer>
        <v-col
            v-if="progress < 100"
            class="col-md-2 col-sm-6 font-weight-bold primaryFont">
          ETA
        </v-col>
        <v-col
            v-if="progress === 100"
            class="col-xl-3 col-lg-3 col-md-2 col-sm-6 font-weight-bold primaryFont">
          Delivered time
        </v-col>
      </v-row>
      <v-progress-linear :value="progress"></v-progress-linear>
      <v-row class="pt-10 pa-3">
        <p class="track-order-title col-md-12 col-sm-12"
           v-if="progress < 100">Your order is being serviced</p>
        <p class="track-order-title-complete col-md-12 col-sm-12"
           v-if="progress === 100">
          Your order has been completed. Thank you for shopping at Bida.</p>
      </v-row>
      <v-expansion-panels
          focusable
          flat
          dense>
        <v-expansion-panel>
          <v-expansion-panel-header
              style="height: 10px"
              ripple
              color="grey lighten-4">
            <span class="expansion-title primaryFont">Delivery details</span>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-col cols="12">
              <v-row class="pa-4 col-xl-12">
                <v-card
                    flat
                    height="40px">
                  <v-row>
                    <v-col class="col-xl-2">
                      <v-icon
                          size="40px"
                          color="primary">
                        mdi-clock</v-icon>
                    </v-col>
                    <v-col class="col-xl-10">
                      <span class="primaryFont font-weight-bold mx-auto pa-3 delivery-details-title">{{deliveryDetails.store}}</span>
                      <br><span class="mx-auto pa-3 delivery-details-subtitle">Bida Stores • {{deliveryDetails.orderTime}}</span>
                    </v-col>
                  </v-row>
                </v-card>
              </v-row>
              <v-row class="pt-0 pb-0 pl-6 col-xl-12">
                <v-icon color="#C4C4C4">mdi-circle-small</v-icon>
              </v-row>
              <v-row class="pt-0 pb-0 pl-6 col-xl-12">
                <v-icon color="#C4C4C4">mdi-circle-small</v-icon>
              </v-row>
              <v-row class="pt-0 pb-0 pl-6 col-xl-12">
                <v-icon color="#C4C4C4">mdi-circle-small</v-icon>
              </v-row>
              <v-row class="pa-4 col-xl-12">
                <v-card
                    flat
                    height="40px">
                  <v-row>
                    <v-col class="col-xl-2">
                      <v-icon
                          size="40px"
                          color="primary">
                        mdi-map-marker</v-icon>
                    </v-col>
                    <v-col class="col-xl-10">
                      <span class="primaryFont font-weight-bold mx-auto pa-3 delivery-details-title">{{ (deliveryDetails.deliveryLocation).slice(0,17).concat('..')}}</span>
                      <br>
                      <span
                        class="mx-auto pa-3 delivery-details-subtitle">
                      {{ deliveryDetails.deliveryLocationLabel }} • {{deliveryDetails.estimatedDeliveryTime}}
                    </span>
                    </v-col>
                  </v-row>
                </v-card>
              </v-row>
            </v-col>
          </v-expansion-panel-content>
        </v-expansion-panel>
        <v-expansion-panel
            class="v-toolbar--flat">
          <v-expansion-panel-header
              style="height: 10px"
              ripple
              color="grey lighten-4">
            <span class="expansion-title primaryFont">Order summary</span>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-simple-table
                dense
                class="pa-1"
                light>
              <tbody>
              <tr
                  v-for="(detail, i) in orderSummary"
                  :key="i">
                <td class="borderless-table-data flex-column col-1">
                  <v-img max-height="90"
                         max-width="90"
                         :src="require('../assets/products/' + detail.image)">
                  </v-img>
                </td>
                <td class="font-weight-bold text-left primaryFont borderless-table-data">
                  <span>{{detail.product}}</span>
                </td>
                <td class="borderless-table-data">
                  <v-chip
                      tile
                      small
                      text-color="white"
                      color="primary"
                      class="rounded-sm font-weight-light">
                    <span class="mx-auto">{{detail.units}}</span>
                  </v-chip>
                </td>
              </tr>
              </tbody>
            </v-simple-table>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-card>
  </v-card>
</template>

<script>
export default {
  name: 'TrackOrderDetails',
  props: ['progress', 'eta', 'orderSummary', 'deliveryDetails'],
  data(){
    return{

    }
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Montserrat');
.track-order-title{
  font-size: 1vw;
  font-weight: bold;
}

.delivery-details-subtitle{
  font-size: 0.8vw;
}

.delivery-details-title{
  font-size: 0.9vw;
}

.track-order-title-complete{
  font-size: 1vw;
  font-weight: bold;
}

.borderless-table-data{
  border: none!important;
}

.eta{
  font-family: "Roboto", sans-serif;
  font-size: 0.6vw;
}

.expansion-title{
  font-size: 20px;
  font-weight: bold;
}

.montFont{
  font-family: 'Montserrat',serif;
  font-weight: lighter;
  font-size: 25px;
}

</style>
