<template>
  <div>
    <v-app-bar class="app-bar"
        color="black"
        dense
        dark>
      <router-link :to="{ name: 'home'}">
      <v-toolbar-title>
        <v-img class="logo" src="../assets/images/bida-logo-white.png"></v-img>
      </v-toolbar-title>
      </router-link>

      <v-spacer></v-spacer><v-spacer></v-spacer><v-spacer></v-spacer><v-spacer></v-spacer><v-spacer></v-spacer>
      <v-spacer></v-spacer><v-spacer></v-spacer><v-spacer></v-spacer><v-spacer></v-spacer><v-spacer></v-spacer>
      <v-spacer></v-spacer><v-spacer></v-spacer><v-spacer></v-spacer><v-spacer></v-spacer><v-spacer></v-spacer>
      <v-spacer></v-spacer><v-spacer></v-spacer><v-spacer></v-spacer><v-spacer></v-spacer><v-spacer></v-spacer>
      <v-spacer></v-spacer><v-spacer></v-spacer><v-spacer></v-spacer><v-spacer></v-spacer><v-spacer></v-spacer>
      <v-spacer></v-spacer><v-spacer></v-spacer><v-spacer></v-spacer><v-spacer></v-spacer><v-spacer></v-spacer>
      <v-spacer></v-spacer><v-spacer></v-spacer><v-spacer></v-spacer><v-spacer></v-spacer><v-spacer></v-spacer>


      <v-row class="signup-btns" align-lg="right">
        <router-link :to="{ name: 'sign_in'}">
        <v-btn class="customer-btn">Shopper</v-btn>
        </router-link>
        <router-link :to="{ name: 'sign_in'}">
        <v-btn class="vendor-btn">Vendor</v-btn>
        </router-link>
      </v-row>
    </v-app-bar>
  </div>
</template>

<script>
export default {
  name: 'WelcomeHeader',
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

.logo{
  height: 50px;
  width: 97px;
  top: 50%;
  bottom: 50%;
}

.signup-btns{
  alignment: right;
}

.customer-btn{
  background-color: #EA7125 !important;
}

.vendor-btn{
  background-color: #FFFFFF !important;
  color: #EA7125 !important;
}

.vendor-btn, .customer-btn{
  margin-left: 20px;
}

.app-bar{
  height: 50px !important;
}
</style>
